.sidePaneAccordion {
    border-bottom: 1px solid var(--border-color);
}

.sidePaneAccordionHeader {
    list-style: none;
    cursor: pointer;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.sidePaneAccordionHeader:hover {
    background-color: var(--border-color);
}

.sidePaneAccordionHeader[open] {
    background-color: #FFF;
}

.sidePaneAccordionHeaderTitle{
    margin: 0;
}

.sidePaneAccordionContent {
    margin-top: 1rem;
    padding: 0 1.5rem;
}