.teamPage {
    display: flex;
    min-height: calc(100vh - 74px);
}

.mainContent {
    padding: 1rem 3rem;
}

.retrosList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.retroListItem {
    width: 14.5rem;
}