.teamPage {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 74px);
}

.mainContent {
    padding: 1rem 3rem;
    width: 100%;
    box-sizing: border-box;
}

.headerContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.retrosList {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1.75rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.retroListItem {
    min-height: 7rem;
}

@media (min-width: 768px) {
    .teamPage {
        display: flex;
        flex-direction: row;
        min-height: calc(100vh - 74px);
    }

    .retrosList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .retroListItem {
        width: 14.5rem;
    }
}