.voteCount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;

    font-size: 0.9rem;
}

.starIcon {
    z-index: 1;
}

.starShadow {
    width: 20px;
    height: 10px;
    margin-top: -0.35rem;

    background-color: #F1C40F;
    border-radius: 12px / 6px;
    z-index: 0;
}

.votes {
    font-weight: bold;
}