.card {
    border-radius: 6px;
    background-color: var(--background-secondary);
    margin-bottom: 2rem;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.message {
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding: 1rem;
    margin: 0;
}

.actionsContainer {
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.action {
    width: 25%;
    box-sizing: border-box;
    border: none;
    padding: 0.5rem;

    &:not(:last-child) {
        border-right: 1px solid lightgray;
    }

    &:first-child {
        border-bottom-left-radius: inherit;
    }

    &:last-child {
        border-bottom-right-radius: 6px;
    }
}

.action:disabled, .completed .action {
    cursor: unset;
    background-color: var(--background-secondary);
    color: #6D6D6D;
}

.completed {
    opacity: 0.5;
}

.completed:hover {
    cursor: unset;
    box-shadow: unset;
}