:root[data-theme="light"] {
    --toast-info-text: oklch(0.6531 0.1347 242.69);
    --toast-success-text: oklch(0.7459 0.1812 152.33);
    --toast-warning-text: oklch(0.8358 0.169 91.77);
    --toast-error-text: oklch(0.6307 0.194 29.44);
    --toast-info-background: oklch(0.9605 0.0167 236.69);
    --toast-success-background: oklch(0.9588 0.0206 161.48);
    --toast-warning-background: oklch(0.9682 0.0425 95.49);
    --toast-error-background: oklch(0.9432 0.0223 27.81);
}

:root[data-theme="dark"] {
    --toast-info-text: oklch(0.5759 0.119 242.28);
    --toast-success-text: oklch(0.6629 0.1602 152.37);
    --toast-warning-text: oklch(0.7628 0.1627 69.37);
    --toast-error-text: oklch(0.5433 0.174 29.7);
    --toast-info-background: oklch(0.2894 0.0378 246.38);
    --toast-success-background: oklch(0.2773 0.0378 160.77);
    --toast-warning-background: oklch(0.2723 0.0336 87.34);
    --toast-error-background: oklch(0.2394 0.0329 29);
}
