.retroCategory {
    display: inline-block;
    width: 324px;
    min-width: 324px;
}

.thoughtsList {
    list-style: none;
    padding: 0;
}

@media (max-width: 767px) {
    .retroCategory {
        width: 100%;
        min-width: unset;
    }
}