.userPage {
    padding: 2rem;
}

.teamsTitle {
    text-align: center;
}

.teamsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

/* Turn the page into CSS Grid to make it real nice */
.teamItem {
    width: 200px;
    text-overflow-ellipsis: auto;
}

.createNewTeamButton {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px dashed;
    border-radius: 4px;
    background-color: var(--background-primary);
    color: var(--text-primary);
}

.createNewTeamButton:hover {
    background-color: var(--background-secondary);
}