.card {
    color: #1a1a1a;
    background-color: white;
    border-radius: 4px;
}

.completed {
    opacity: 0.5;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.action {
    margin: 0;
}

.cardBottom {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--border-color);
    height: 2.5rem;
}

.bottomItem {
    flex-grow: 1;
}

.bottomButton {
    border-radius: unset;
    border: none;
    background-color: transparent;
    border-left: 1px solid var(--border-color);
}

.bottomButton:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.bottomButton:disabled {
    background-color: unset;
    cursor: default;
}

.createdDate {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    align-self: center;
}

.confirmDelete {
    border: none;
}