.retroHeaderContainer {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
    gap: 1.4rem;
}

.retroColumnsContainer {
    display: flex;
    justify-content: space-around;
    min-height: calc(100vh - 72px - 2.375rem - 3rem);
}

.retroColumns {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: auto;
    gap: 3rem;
    padding: 0 4rem;
}

.mobileColumnsContainer {
    padding-bottom: 48px;
}

@media (max-width: 767px) {
    .retroHeaderContainer {
        grid-template-columns: auto 1fr;
        gap: 0.75rem;
    }

    .retroColumnsContainer {
        justify-content: flex-start;
    }

    .retroColumns {
        gap: 0;
        padding: 0 1rem;
        flex-direction: column;
        overflow-x: hidden;
        width: 100%;
        box-sizing: border-box;
    }
}

.mobileHidden {
    display: none;
}

.mobileActionItems {
    padding: 0 1rem 48px 1rem;
}
