.retroColumnsContainer {
    display: flex;
    justify-content: space-around;
    min-height: calc(100vh - 72px - 2.375rem - 3rem);
}

.retroColumns {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: auto;
    gap: 3rem;
    padding: 0 4rem;
}