.retroColumnsContainer {
    display: flex;
    justify-content: space-around;
}

.retroColumns {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: auto;
    gap: 3rem;
    padding: 0 4rem;
}