:root {
    --action-items-tab-width: 356px;
}

:root[data-theme="light"] {
    --tab-color: var(--bonfire-orange);
}

:root[data-theme="dark"] {
    --tab-color: var(--bonfire-orange);
}

.container {
    position: fixed;
    /* TODO: Variablize to be header height (change header height to be a variable)*/
    top: 4.5rem;
    width: var(--action-items-tab-width);
    background-color: var(--tab-color);
    transition: right 0.5s ease-in-out;
    padding: 1rem 0;
    z-index: 2;
}

.containerOpen {
    right: 0;
}

.containerClosed {
    right: calc(4px - var(--action-items-tab-width));
}

.tab {
    position: absolute;
    left: 0;
    top: 20%;
    transform-origin: top left;
    transform: rotate(-90deg) translateY(-100%) translateX(-100%);

    padding: 0.6rem 1rem;
    background-color: var(--tab-color);
    color: var(--text-primary);
    border-radius: 0.5rem 0.5rem 0 0;

    cursor: pointer;

    border: none;
}

.content {
    /* TODO: Variablize parts of CSS calculations*/
    height: calc(100vh - 4.5rem - 2rem); /*VH - header - padding*/
    overflow-y: auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.paneHeader {
    text-align: center;
    margin: 1rem 0 2rem 0;
}

.actionItemForm {
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}