.createNewRetroButton {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px dashed;
    border-radius: 4px;
    background-color: var(--background-primary);
    color: var(--text-primary);
}

.createNewRetroButton:hover {
    background-color: var(--background-secondary);
}