.createRetroContainer {
    padding: 2rem;
}

.optionsList {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.closeButton {
    color: darkgray;
    position: absolute;
    background-color: unset;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
    margin: 1rem 1.25rem;
}

.closeButton:hover {
    background-color: unset;
    color: gray;
}

@media (min-width: 768px) {
    .createRetroContainer {
        width: 40rem;
        max-height: 60vh;
        overflow-y: auto;
    }
}
